#define InputBox 30000
#define IDC_BTN59 30002
#define IDC_BTN60 30003
#define IDC_STC36 30001
#define IDC_EDT27 30004
#define IDR_VERSION1 1

100 ICON DISCARDABLE "Res/game.ico"
200 RCDATA DISCARDABLE "res/Save.map"

InputBox DIALOGEX 6,6,289,79
FONT 9,"宋体",400,0,134
STYLE 0x90C80800
BEGIN
  CONTROL "确 定(&K)",IDC_BTN59,"Button",0x50010000,231,6,52,15
  CONTROL "取 消(&C)",IDC_BTN60,"Button",0x50010000,231,27,52,15
  CONTROL "",IDC_STC36,"Static",0x50000000,6,6,219,48
  CONTROL "",IDC_EDT27,"Edit",0x50812000,6,60,276,12
END

IDR_VERSION1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "ProductVersion", "1.0.0.0\0"
      VALUE "CompanyName", "xywh Game Engine\0"
      VALUE "FileDescription", "xywh Game Engine\0"
      VALUE "InternalName", "xywh Game Engine\0"
      VALUE "LegalCopyright", "xywh Game Engine\0"
      VALUE "LegalTrademarks", "xywh Game Engine\0"
      VALUE "OriginalFilename", "xywh Game Engine\0"
      VALUE "ProductName", "xywh Game Engine\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END

