#define IDD_DLG1 1000
#define IDC_CBO1 1001
#define IDC_BTN1 1002

IDD_DLG1 DIALOGEX 10,10,186,78
CAPTION "星月无痕趣味坦克 - 剧本选择"
FONT 9,"宋体",400,0,134
STYLE 0x10CA0800
BEGIN
  CONTROL "",IDC_CBO1,"ComboBox",0x50010003,15,15,156,207
  CONTROL "启动游戏",IDC_BTN1,"Button",0x50010001,54,42,78,21
END

100 ICON DISCARDABLE "Res/Exe.ico"

